* {
    font-family: 'Inconsolata', monospace;
    color: white;

    /* padding: 0;
    margin: 0; */
}

.bg-black {
    background-color: #000;
}

.fb {
    color: #000;
}

/* Start CSS */

/* header */
.header {
    /* width: 1280px; */
    height: 30px;
    flex-shrink: 0;

    background: #212121;
}

.header-content {
    color: #FFF;
    font-family: Inconsolata;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}

/* Navigation bar */
.navigation {
    /* width: 1280px; */
    /* height: 65px; */
    flex-shrink: 0;

    background: #000;
}

.nav-img {
    /* background: url('./img/nav-img.png'), lightgray 50% / cover no-repeat; */
    height: 65px;
    width: 70.508px;
}

.nav-icons {
    width: 99px;
}

.search-icon{
    transition: 0.5s ease;
}

.search-icon:hover {
    fill: white;
}

.big-navigation input:focus {
    outline: none;
}

/* Footer Font */
.footer-font-1-header {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.footer-font-1-inside {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.footer-font-2-submit {
    color: var(--light-foreground-foreground-on-brand, #FFF);
    /* font-family: Inconsolata; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.footer-font-2-place {
    color: var(--dark-foreground-foreground-4, #999);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.footer-font-3-ending {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.footer-input-layout {
    border-radius: 4px;
    border: 1px solid #666;
    background: #292929;
}

/* BODY-PRODUCTS */

/* Custom radio */
.form-check-input:checked {
    /* background-color: #000; */
    border-color: #000;
    background: #000;
}

/* Hide the default radio button appearance */
.form-check-input {
    cursor: pointer;
}

/* Style for the label text when the radio button is checked */
.form-check-input:checked + .form-check-label {
    color: #000;
    font-weight: bold;
}

.shadow-none {
    box-shadow: none;
}
