* {
    font-family: 'Inconsolata', monospace;
    /* color: white; */

    /* padding: 0;
    margin: 0; */
}

/* BODY THEME */
.body-theme-fw, .big-navigation {
    color: white;
}

.big-navigation *{
    color: inherit;
}

/* Adjust font */
.wf {
    color: white;
    background-color: black;
}

.bf {
    color: black;
}

.fb {
    color: #000;
}

.bg-black {
    background-color: #000;
}

.my-font-basic {
    color: #FFF;
    /* font-size: 14px; */
    font-style: normal;
    /* font-weight: 700; */
    line-height: 150%; /* 21px */
    /* letter-spacing: -0.14px; */
}

.font-type-1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
}

.font-type-2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.32px;
}

.font-type-3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.14px;
}

.font-type-4 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
}

.my-href {
    color: #FFF;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
    text-decoration-line: underline;
}

.my-href-type-2 {
    color: #FFF;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
    text-decoration-line: underline;
}



/* Start CSS */

/* header */
.header {
    /* width: 1280px; */
    height: 30px;
    flex-shrink: 0;

    background: #212121;
}

.header-content {
    color: #FFF;
    font-family: Inconsolata;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}

/* Navigation bar */
.navigation {
    /* width: 1280px; */
    /* height: 65px; */
    flex-shrink: 0;

    background: #000;
}

.nav-img {
    /* background: url('./img/nav-img.png'), lightgray 50% / cover no-repeat; */
    height: 65px;
    width: 70.508px;
}

.nav-icons {
    width: 99px;
}

.search-icon{
    transition: 0.5s ease;
}

.search-icon:hover {
    fill: white;
}

.big-navigation input:focus {
    outline: none;
}

/* Slider */
.slide-container {
    height: 400px;
}

/* Page Navigation */
.pg-nav {
    /* height: 20px; */
    height: 2.5rem;
    background: #FFF;
    padding: 2px 0px 3px 0px;
}

.pg-nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.pg-nav-box-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg-nav-box {
    width: 15px;
    height: 15px;  
    border: 1px solid #000;
    /* background: #000; */
    transition: 0.5s ease;
}

.pg-nav-arrow-l {
    width: 9.706px;
    height: 15px;
    /* fill: #000; */

    background: url(../images/home-img/home-vector-left.svg);
}

.pg-nav-arrow-r {
    width: 9.706px;
    height: 15px;
    /* fill: #000; */

    background: url(../images/home-img/home-vector-right.svg);
}

/* Next content 3 */
.my-href-type-3{
    color: #000;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
    text-decoration-line: underline;
}

.my-font-type-3 {
    color: #000;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;

    align-self: stretch;
}

.content-3-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-3-max-height{
    max-height: 600px;
}

/* Latest news */
.latest-news-content{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 48px */
    letter-spacing: -0.32px;
    text-decoration-line: underline;
}

.card-head {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 80% */
}

.card-description {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}

/* Footer Font */
.footer-font-1-header {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.footer-font-1-inside {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.footer-font-2-submit {
    color: var(--light-foreground-foreground-on-brand, #FFF);
    /* font-family: Inconsolata; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.footer-font-2-place {
    color: var(--dark-foreground-foreground-4, #999);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.footer-font-3-ending {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.footer-input-layout {
    border-radius: 4px;
    border: 1px solid #666;
    background: #292929;
    color: white;
}

/* BODY-PRODUCTS */

/* Custom radio */
.form-check-input:checked {
    /* background-color: #000; */
    border-color: #000;
    background: #000;
}

/* Hide the default radio button appearance */
.form-check-input {
    cursor: pointer;
}

/* Style for the label text when the radio button is checked */
.form-check-input:checked + .form-check-label {
    color: #000;
    font-weight: bold;
}

.shadow-none {
    box-shadow: none;
}

/* BODY-CHECKOUT */
/* Custom radio */
.form-check-input:checked + div .form-check-label {
    color: #000;
    font-weight: bold;
}

/* Sign in-up */
.sign-header-font {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: -0.24px;
}

.sign-title-font {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.sign-input-layout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    padding: 0.3rem;
    color: #000;
}

.sign-holder-font {
    color: var(--light-foreground-foreground-4, #707070);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.sign-btn-font {
    color: var(--light-foreground-foreground-on-brand, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.sign-footer-font {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.form-container{
    padding: 50px 110px;
}

@media only screen and (max-width: 384px) {
    .form-container{
        padding: 50px 20px;
    }
  }

/* Hover img for products */
#Products-Container img {
    transition: 0.5s ease;
}

#Products-Container img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#news-container .card {
    transition: 0.5s ease;
}

#news-container .card:hover {
    transform: scale(1.1);
}
